/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";
@import "theme";
@import "categories";


#spacer {
  margin-top: 5px;
}
#advantages {
  text-align: center;
}
#advantages .box .icon {
  position: absolute;
  font-size: 120px;
  width: 100%;
  text-align: center;
  top: -20px;
  left: 0;
  height: 100%;
  float: left;
  color: #eeeeee;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#advantages .box h3 {
  position: relative;
  margin: 0 0 20px;
  font-weight: 300;
  text-transform: uppercase;
  z-index: 2;
}
#advantages .box h3 a:hover {
  text-decoration: none;
}
#advantages .box p {
  position: relative;
  color: #555555;
  z-index: 2;
}


.box {
  background: #fff;
  margin: 0 0 30px;
  border: solid 1px #e6e6e6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 20px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}
.box .box-header {
  background: #f7f7f7;
  margin: -20px -20px 20px;
  padding: 20px;
  border-bottom: solid 1px #eeeeee;
}
.box .box-header:before,
.box .box-header:after {
  content: " ";
  display: table;
}
.box .box-header:after {
  clear: both;
}
.box .box-footer {
  background: #f7f7f7;
  margin: 30px -20px -20px;
  padding: 20px;
  border-top: solid 1px #eeeeee;
}
.box .box-footer:before,
.box .box-footer:after {
  content: " ";
  display: table;
}
.box .box-footer:after {
  clear: both;
}

a,
button {
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
a i.fa,
button i.fa {
  margin: 0 5px;
}
.clickable {
  cursor: pointer;
}
p.lead {
  font-weight: 300;
}
h1 {
  font-weight: 700;
  font-size: 40px;
}
#top {
  background: #555555;
  padding: 10px 0;
}
#top .offer {
  color: #fff;
}
#top .offer .btn {
  text-transform: uppercase;
}
@media (max-width: 991px) {
  #top .offer {
    margin-bottom: 10px;
  }
}
@media (max-width: 991px) {
  #top {
    font-size: 12px;
    text-align: center;
  }
}
#top a {
  color: #fff;
}
#top ul.menu {
  padding-top: 5px;
  margin: 0;
  text-align: right;
  font-size: 12px;
  list-style: none;
}
@media (max-width: 991px) {
  #top ul.menu {
    text-align: center;
  }
}
#top ul.menu > li {
  display: inline-block;
}
#top ul.menu > li a {
  color: #eeeeee;
}
#top ul.menu > li + li:before {
  content: "|\00a0";
  padding: 0 5px;
  color: #f7f7f7;
}
#top ul.menu > .active {
  color: #999999;
}
#top #login-modal .modal-header {
  background: #4993e4;
}
#top #login-modal .modal-header h4 {
  color: #fff;
}
#top #login-modal a {
  color: #4993e4;
}
#top #login-modal p {
  font-weight: 300;
  margin-bottom: 20px;
}
.navbar .yamm-content h5 {
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: dotted 1px #555555;
}
@media (max-width: 767px) {
  .navbar .yamm-content h5 {
    font-size: 14px;
  }
}
.navbar .yamm-content ul {
  margin: 0;
  padding: 0;
}
.navbar .yamm-content ul li {
  list-style-type: none;
  border-bottom: solid 1px #eeeeee;
  text-transform: uppercase;
  padding: 4px 0;
}
.navbar .yamm-content ul li a {
  color: #999999;
  font-size: 12px;
  display: block;
}
.navbar .yamm-content ul li a:hover {
  color: #4993e4;
  text-decoration: none;
}
.navbar .yamm-content .banner {
  margin-bottom: 10px;
}
.navbar ul.nav > li > a {
  text-transform: uppercase;
  font-weight: bold;
}
.navbar #search {
  clear: both;
  border-top: solid 1px #a2c8f1;
  text-align: right;
}
.navbar #search .navbar-form {
  float: right;
  width: 500px;
}
.navbar #search .navbar-form .input-group {
  display: table;
}
.navbar #search .navbar-form .input-group .input-group-btn {
  white-space: nowrap;
  width: 1%;
}
.navbar #search .navbar-form .input-group .form-control {
  width: 100%;
}
@media (max-width: 768px) {
  .navbar #search .navbar-form {
    float: none;
    width: auto;
  }
}
.navbar #basket-overview {
  padding: 0;
}
#hot h2 {
  text-transform: uppercase;
  font-size: 36px;
  color: #4993e4;
  font-weight: 100;
  text-align: center;
}
#hot .product-slider {
  margin-bottom: 20px;
}
#hot .product-slider:before,
#hot .product-slider:after {
  content: " ";
  display: table;
}
#hot .product-slider:after {
  clear: both;
}
#hot .product-slider .item {
  margin: 0 25px;
  visibility: hidden;
}
#hot .product-slider .owl-controls {
  position: relative;
  top: -30px;
}
#hot .product-slider .owl-controls .owl-buttons {
  display: none;
}
#hot .product-slider .owl-controls .owl-page.active span,
#hot .product-slider .owl-controls.clickable .owl-page:hover span {
  background: #4993e4;
}