.row.carousel-holder.text-center
  .col-md-12
    #carousel-example-generic.carousel.slide{ data: {ride: "carousel"}}
      %ol.carousel-indicators
        %li.active{data: {target: "#carousel-example-generic", slide: {to: "0"}}}
        %li{data: {target: "#carousel-example-generic", slide: {to: "1"}}}
        %li{data: {target: "#carousel-example-generic", slide: {to: "2"}}}

      .carousel-inner
        .item.active
          = image_tag('dress_shop_dresses_clothes.jpg', class: "slide-image", alt: "")
        .item
          = image_tag('stock-photo--different-clothes-for-females-isolated-on-white-background-79498693.jpg', class: "slide-image", alt: "")
        .item
          = image_tag('stock-photo-close-up-of-a-hand-looking-on-a-flea-market-for-clothes-217839946.jpg', class: "slide-image img-responsive", alt: "",)

      %a{ class: "left carousel-control", href: "#carousel-example-generic", data: {slide: "prev"}}
        %span.glyphicon.glyphicon-chevron-left
      %a{ class: "right carousel-control", href: "#carousel-example-generic", data: {slide: "next"}}
        %span.glyphicon.glyphicon-chevron-right