.footer
  .container
    .col-lg-12
      %h1 Polix Clothing
      %p 1234 Street Name / Vancouver, BC / 604.123.1234
      %p Hours: Open 12pm to 9pm 7 days a week
      %section.social-media
        = link_to fa_icon('facebook'), ''
        = link_to fa_icon('twitter'), ''
        = link_to fa_icon('pinterest'), ''
        = link_to fa_icon('instagram'), ''
      %p &copy; 2016 Polix Clothing