%aside.panel.panel-default
  .panel-heading
    %h3.panel-title Categories
  .panel-body
    %ul.nav.nav-pills.nav-stacked
      - Category.all.each do |cat|
        %li= link_to cat.name, cat
        %ul.nav.nav-tabs.nav-stacked
          %li= link_to 'T-shirts', ''
          %li= link_to 'Parts', ''
          %li= link_to 'Accessories'
